@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: red;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    
}


/*comeco tabela*/
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    flex-shrink: 1;
    font-size: 1.1em;
}

table {
    margin: auto;
}

tr {
    height: 50px;
}

td {
    min-width: 70px;
}
/*fim tabela*/

h1 {
    text-align: center;
    margin: 20px 0;
}

#box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

td > select {
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 0.9em;
    background-color: #cccccc00;
}

.multi-select {
    position: relative;
    display: inline-block;
}

.select-box {
    width: 200px;
 
    padding: 10px;
    cursor: pointer;
    
    background-color: #cccccc00;
}

.select-box .options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 100%;
}

.select-box:hover .options {
    display: block;
}

.options label {
    display: block;
    padding: 5px;
}

.options label:hover {
    background-color: #f1f1f1;
}
