@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}



main {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}


/*comeco tabela*/
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    flex-shrink: 1;
    font-size: 0.95em;
}

table {
    margin: auto;
}

thead > tr {
    background-color: black;
    color: white;
    
}

tr {
    height: 50px;
}

tbody tr:nth-child(even) { /* 2n */
    background-color: lightgray;
}

td {
    min-width: 70px;

}
/*fim tabela*/

h1 {
    text-align: center;
    margin: 20px 0;
}

#box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

td > select {
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 0.9em;
    background-color: #cccccc00;
}

.multi-select {
    position: relative;
    display: inline-block;
}

.select-box {
    width: 200px;
    padding: 10px;
    cursor: pointer;
    background-color: #cccccc00;
}

.select-box .options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 100%;
}

.select-box:hover .options {
    display: block;
}

.options label {
    display: block;
    padding: 5px;
}

.options label:hover {
    background-color: #f1f1f1;
}

.selected-day {
    background-color: #e0ffe0; /* Cor de fundo para indicar seleção */
    border: 1px solid #4caf50; /* Bord2.5px solid blacka verde para indicar seleção */
}

#buttons {
   
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 20px;
}

button {
    font-size: 1.2em;
    padding: 6.5px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;

}