* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    height: 100vh;
    width: 100vw;
}

table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    flex-shrink: 1;
}

table {
    margin: auto;
}

tr {
    height: 50px;
}

td {
    min-width: 70px;
}

td {
    cursor: pointer;
}

.selected {
    background-color: blue;
    transition: 300ms;
}
